<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PetShop</title>

    <partial name="_StylesPartial" />

    @RenderSection("Styles", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm py-3 navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow" style="background-color:#F19F1F!important;color:#fff!important">
            <div class="container">

                <a class="navbar-brand" asp-area="" asp-page="/Index">
                    <i class="fa fa-paw fa-fw"></i> PetShop
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/Contact">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/About">About</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

        <main role="main" class="pb-3">
            @RenderBody()
        </main>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - PetShop - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <partial name="_ScriptsPartial" />

    @RenderSection("Scripts", required: false)
</body>
</html>
