<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
    <a class="navbar-brand" href="/Admin/Dashboard">
        <i class="fa fa-paw fa-fw"></i> PetShop
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/Admin/BodyTypes"> <i class="fab fa-fly text-info fa-fw"></i> BodyType </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Admin/EyeColors"> <i class="fa fa-eye text-danger fa-fw"></i> EyeColor </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Admin/Patterns"> <i class="fab fa-forumbee text-success fa-fw"></i> Pattern </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Admin/Carousels"> <i class="fas fa-images text-warning fa-fw"></i> Carousel </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Admin/Photos"> <i class="fa fa-image text-white fa-fw"></i> Photo </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Admin/Messages"> <i class="fa fa-inbox text-light fa-fw"></i> Message </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Admin/Groups"> <i class="fa fa-list-alt text-success fa-fw"></i> Group </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Admin/Pets"> <i class="fa fa-paw text-danger text-danger fa-fw"></i> Pet </a>
            </li>
        </ul>
    </div>
</nav>