@page
@model kennel_bambino.web.Pages.AboutModel

@{
    ViewData["Title"] = "About us";
}

    <div class="w-100 position-relative text-white text-capitalize font-weight-bolder font-resource" style="background-image:url(../Images/resources/about-us-banner.jpg);background-position:center;background-size:cover;height:320px;font-size:2.5rem">
        <div class="position-absolute w-25 p-5 rounded-circle text-center" style="left:50%;top:82%;transform:translate(-50%,0);border:15px solid #fff;background-color:rgba(16,136,150,0.9);background-image:url(../Images/resources/pattern.png);background-repeat:repeat;min-width:320px">
            About us
        </div>
    </div>

    <div class="row mt-5">

        <div class="col-12 col-sm-5">
            <img src="~/images/resources/about.png" class="img-fluid" alt="about dog" />
        </div>

        <div class="col-12 col-sm-7" style="margin-top: 12rem">

            <h3 style="font-size:2.5rem">High Quality Services</h3>

            <div class="mt-4" style="color:#989797;font-size:1.5rem;">
                <p>Elit uasi quidem minus id omnis a nibh fusce mollis imperdie tlorem ipuset phas ellus ac sodales Lorem ipsum dolor Phas ellus ac sodales felis tiam non metus. lorem ipsum dolor sit amet, consectetur adipisicing elit uasi quidem minus id omnis a nibh fusce mollis imperdie tlorem ipuset campas fincas</p>

                <p>Phas ellus ac sodales felis tiam non metus. lorem ipsum dolor sit amet, consectetur adipisicing elit uasi quidem minus id omnis a nibh fusce mollis imperdie tlorem ipuset campas fincas</p>
            </div>
        </div>

    </div>