@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<partial name="_Carousel" />

<div class="text-center my-5">
    <h1 class="display-1"> <i class="fas fa-paw"></i> </h1>
    <h2 class="display-3">Latest Pets</h2>
</div>

<div class="container">
    <div class="row">

        @if (Model.Pets.Any())
        {
            @foreach (var pet in Model.Pets)
            {
            <partial name="_PetPartial" model="pet" />
            }
        }
        else
        {
            <div class="col-12">
                <div class="alert alert-warning text-capitalize">
                    <i class="fa fa-exclamation-triangle fa-fw"></i> No pet exist.
                </div>
            </div>
        }

    </div>
</div>
